header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 15px;
    margin-bottom:70px;
    height: 80px;
    background-color: var(--background-secondary);
}
/* COMPONENT: BRAND */
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.brand__text h3{
    color:var(--color-main);
    font-size: 1.5rem;
}
.brand__text p{
    color:var(--color-primary);
    font-weight: bold;
}
.brand img{
    width:40px;
    height: 40px;
}
[data-theme='dark'] .brand img{
    filter:invert(1) hue-rotate(180deg);
}

/* COMPONENT: CONTROLS */
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    height: 40px;
    width:200px;
    
}
.mode{
    width:35px;
    height: 35px;
    font-size: 20px;
    padding:5px;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.idiom{
    padding:5px;
    width:90px;
    outline: none;
    background-color: transparent;
    cursor: pointer;

}
.idiom option{
    background-color: var(--background-secondary);
}