header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 15px;
    margin-bottom:70px;
    height: 80px;
    background-color: var(--background-secondary);
}
/* COMPONENT: BRAND */
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.brand__text h3{
    color:var(--color-main);
    font-size: 1.5rem;
}
.brand__text p{
    color:var(--color-primary);
    font-weight: bold;
}
.brand img{
    width:40px;
    height: 40px;
}
[data-theme='dark'] .brand img{
    filter:invert(1) hue-rotate(180deg);
}

/* COMPONENT: CONTROLS */
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    height: 40px;
    width: min-content;
}
.mode{
    width:35px;
    height: 35px;
    font-size: 20px;
    padding:5px;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.idiom{
    padding:5px;
    width:50px;
    outline: none;
    background-color: transparent;
    cursor: pointer;

}
.idiom option{
    background-color: var(--background-secondary);
}

@media screen and (max-width: 768px){
    header{
        padding:5px 10px;
    }
    .brand__text h3{
        font-size: 1.2rem;
    }
    .brand__text p{
        font-size: 0.8rem;
    }
    .brand img{
        width:30px;
        height: 30px;
    }
   
}
@media screen and (max-width: 480px){
    header{
        height: 100px;
        padding:5px 5px;
    }
    .brand__text h3{
        font-size: 1rem;
    }
    .brand__text p{
        font-size: 0.6rem;
    }
    .brand img{
        width:25px;
        height: 25px;
    }
    .controls{
        gap:0
    }
    
}