.qrGenerator{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:30px 0;
    margin:100px auto;
    border:1px solid var(--background-secondary);
    border-radius: 5px;
    width:90vw;
    box-shadow: 1px 1px 5px 1px rgb(73, 73, 73);
}

/* COMPONENT: ContainerQR */
.containerQR{
    width: auto;
}
.qr{
    width:300px;
    height: 300px;
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border:1px solid rgb(78, 78, 78);
    box-shadow: 1px 1px 5px 2px rgb(32, 31, 31);
    font-weight: bold;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:10px;
    padding:10px 0;
}
.buttons button{
    width:100%;
    height: 30px;
    background-color: var(--color-primary);
    border:none;
    font-weight: bold;
    color:black;
    filter: opacity(.8);
    transition: all.2s;
    border-radius: 15px;
    font-size: .9rem;
    
}
.buttons button:hover{
    background-color: rgb(247, 169, 0);
    letter-spacing: 1px;
}
/* COMPONENT: Config */
.config{
    width: 300px
}
.container-input{
    display:flex;
    flex-direction: column;
    padding: 5px;
    margin:20px auto;
}
.container-input label{
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}
.container-input input[type='text']{
    width:300px;
    height: 30px;
    padding:3px;
    border:none;
    outline: none;
    background-color: transparent;
    color:var(--color-secondary);
    font-size: .9rem;
    border-bottom: 2px solid var(--color-main)
    
}
.container-input input[type='text']::placeholder{
    color:rgb(143, 142, 142);
    font-weight: bold;
}
.container-input input[type='color']{
    width:70px;
}

@media screen and (max-width: 768px){
    .qrGenerator{
        flex-direction: column;
        width:70vw
    }
    .containerQR{
        margin-top: 20px;
    }
    .container-input input[type='text']{
        width: 100%;
    }
    .buttons button{
        width: 100%;
    }
    
}
@media screen and (max-width:480px) {
    .qrGenerator{
        width:90vw
    }
    .container-input{
        margin:5px auto
    }
}