.qrGenerator{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:30px 0;
    margin:30px auto;
}

/* COMPONENT: ContainerQR */
.containerQR{
    width: auto;
}
.qr{
    width:300px;
    height: 300px;
    background-color: rgb(11, 13, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:10px;
    padding:10px 0;
}
.buttons button{
    width:100%;
    height: 30px;
    background-color: rgb(255, 166, 0);
    border:none;
    font-weight: bold;
    color:black;
    filter: opacity(.8);
    transition: background-color .2s;
    border-radius: 15px;
    letter-spacing: 2px;
    
}
.buttons button:hover{
    background-color: rgb(247, 111, 0);
}
/* COMPONENT: Config */
.container-input{
    display:flex;
    flex-direction: column;
    padding: 5px;
    margin:20px auto;
}
.container-input input[type='text']{
    width:300px;
    height: 30px;
    padding:3px;
    border:none;
    outline: none;
    background-color: transparent;
    color:rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
    letter-spacing: 2px;
    
}
.container-input input[type='text']::placeholder{
    color:rgb(143, 142, 142);
    font-weight: bold;
}
.container-input input[type='color']{
    width:70px;
}