/* COMPONENT: Steps */
.steps{
    position: relative;
    margin-bottom: 100px;
}
.steps__title{
    text-align: center;
    padding:10px;
    margin:40px auto;
}
.steps__title h2{
    color:var(--color-main);
    font-size: 1.5rem;
}
.steps__title p{
    font-size: 1.1rem;
}
.step{
    display: flex;
    justify-content: space-between;
    margin:120px 70px;
}



/* COMPONENT: Card */
.card{
    width:400px;
    padding:5px;
}
.card p{
    width: 100%;
}
.card h4{
    font-size: 1.1rem;
    color:var(--color-primary);
    padding:10px 0
}



/* COMPONENT: CardImage */

.cardImage img{
    width: 400px;
    height: 200px;
    border:2px solid var(--color-secondary);
    border-radius:5px;
    box-shadow: 1px 1px 4px 1px rgb(90, 90, 90);
}


/* COMPONENT: Pillar */
.pillar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 50%;
    top:0;
    margin-top: 170px;
    cursor: pointer;
    user-select: none;
}
.circle{
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(226, 120, 0, 0.356);
    backdrop-filter: blur(5px);
    border:1px solid var(--color-primary);
    box-shadow: 1px 1px 3px 2px inset rgba(192, 103, 2, 0.26), -1px -1px 3px 2px rgba(192, 103, 2, 0.26 inset);
    text-align: center;
    padding: 14px;
    font-weight: bolder;
    font-size: 1.2rem;
}
.column{
    width:2px;
    height: 300px;
    background-color: var(--color-primary);
    box-shadow: 1px 1px 2px 2px rgba(192, 103, 2, 0.26), -1px -1px 2px 2px rgba(192, 103, 2, 0.26);
}
@media screen and (max-width:1200px){
    .pillar{
        left:-230px;
        top:150px
    }
    .column{
        height: 400px;
    }
    .step{
        flex-direction: column;
        align-items:start;
        margin-left:30vw
    }
}
@media screen and (max-width:768px){
    .pillar{
        left:-130px;
        top:120px

    }
    .column{
        height: 400px;
    }
    .step{
        flex-direction: column;
        align-items:start;
        margin-left:30vw
    }

    .cardImage img{
        width:300px;
        height: 150px;
    }
    .card{
        width:300px
    }
}
@media screen and (max-width:480px){
    .pillar{
        left:-100px;
        top:100px
    }
    .step{
        margin-left:25vw;
    }
    .cardImage img{
        width:250px;
        height: 120px;
    }
    .card{
        width:250px
    }
}

