html{
    color-scheme: light dark;
    background-color: var(--background-primary);
}
*{
    color: var(--color-secondary);
}
:root{
    --background-primary:light-dark(#f0ebeb, #323232);
    --background-secondary:light-dark(#ffffff, #1c1c22);
    --color-primary:light-dark(rgb(231, 131, 16),rgb(221, 127, 19));
    --color-secondary:light-dark(#28282e,#cac9c9);
    --color-main:rgb(0, 127, 177);
}
[data-theme='dark']{
    color-scheme: dark;
}
[data-theme='light']{
    color-scheme: light;
}
